nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    display: block;
    color: white;
    padding: 10px;
}

h1 {
    color: steelblue;
}

main {
    max-width: 840px;
}

main img {
    border: 1px solid blue;
    padding: 2px;
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

aside {

    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 1em;
    border-top: 1px solid #000;
}






